@font-face {
    font-family: Coolvetica;
    src: url(fonts/Coolvetica/coolvetica\ rg.otf);
}

@font-face {
    font-family: CrimsionPro;
    src: url(fonts/CrimsonPro/CrimsonPro-VariableFont_wght.ttf);
}

.bg-green{
    background-color: #63A375;
}

.bg-brown{
    background-color: #DE8F6E;
}

.bg-black{
    background-color: #252627;
}

.bg-blue{
    background-color: #1A535C;
}

.ft-Crimson{
    font-family: CrimsonPro;
}

.ft-Coolvetica{
    font-family: Coolvetica;
}

.mb-6{
    margin-bottom: 5rem;
}

.mt-6{
    margin-top: 6rem;
}

html,body,.container-fluid{
    min-width: 550px;
    height: 100%;
    background-color: #DE8F6E;
    position: relative;
}



p{
    font-family: monospace;
    font-size: xx-large;
}

h3{
    font-family: monospace;
    font-size: xx-large;
}

row{
    position: relative;
}

col{
    display: flex;
    flex-shrink: 0;
    position: relative;
    width: inherit;
    height: inherit;
    white-space: normal;
}

.email{
    font-family: Coolvetica;

    color: #252627;
    font-size: xx-large;
}

    .email:hover{
        color: #63A375;
    }

h1{
    font-size: 100px;
}

footer{
    background: rgba(255, 255, 255);
    bottom: 0;
    width: 100%;
}

nav{
    opacity: 0;
    background: rgba(255, 255, 255,0.8);
    animation: fade-in 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

    nav a{
        font-family: Coolvetica;
        font-size: large;
    }

.navbar-brand{
    font-size: xx-large;
}

.btn-sm{
    background-color: #63A375;
    color: #252627;
}

.btn-intro{
    background:none;
    color: #1A535C;
    font-size: 50px;
    opacity: 0;
    animation: fade-in 5s,bounce 2s linear 6s infinite;
    animation-delay: 6s;
    animation-fill-mode: forwards;
    border: none;
    outline: none;
}

#btn-send{
    font-size: xx-large;
    background-color:#63A375;
    opacity: 0.8;
}

.fa-github,.fa-linkedin{
    color: #252627;
}

.btn:active{
    outline: none;
    border: none;
}

    .btn-intro:hover{
        color: white !important;
    }

.intro{
    margin-top: 4em;
}

.intro-1{
    margin-top: 0.2em;
    animation: 3s slide-right !important;
}

.intro-2{
    animation: 5s slide-left !important;
    animation-delay: 2s;
}

.intro-3{
    opacity: 0;
    animation: fade-in 5s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}
.intro-4{
    opacity: 0;
    animation: fade-in 5s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}
.intro-5{
    opacity: 0;
    animation: fade-in 5s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}

#napoleon{
    animation: slide-up 3s;
}

#main{
    margin-top: 10em;
    margin-bottom: 6em;
    padding: 2em;
    scroll-margin-top: 6rem;
    height: fit-content;
}

ul,li,.nav-item{
    border: none !important;
    outline: none !important;

}

.nav-link{
    color: #252627;
    font-family: Coolvetica;
    font-size: x-large;
}

    .nav-link:hover{
        color: #63A375;
    }

    .skill-tab{
        background-color: transparent;
        border: 0 !important;
        outline: none;
    }

@keyframes bounce{
    20%,50%,80%,to{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    70%{
        transform: translateY(-15px);
    }
    90%{
        transform: translateY(-4px);

    }
}

@keyframes slide-right {
    from {
        margin-left: -75%;
        opacity: 0;
    }
  
    to {
        opacity: 1;
        margin-left: 0%;
    }
}
@keyframes slide-left {
    from {
        margin-right: -75%;
        opacity: 0;
    }
  
    to {
        opacity: 1;
        margin-right: 0%;
    }
}
@keyframes slide-up {
    from {
        margin-bottom: -100%;
        opacity: 0;
    }
  
    to {
        opacity: 1;
        margin-bottom: 0%;
    }
}
@keyframes fade-in{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* https://css-tricks.com/bounce-element-around-viewport-in-css/ */

.x {
    animation: x 13s linear infinite alternate;
  }
  
  .y {
    animation: y 7s linear infinite alternate;
  }
  
  @keyframes x {
    100% {
      transform: translateX( calc(100vw -100px) );
    }
  }
  
  @keyframes y {
    100% {
      transform: translateY( calc(100vh - 100px) );
    }
  }