/*Site Classes*/
@font-face {
    font-family: Coolvetica;
    src: url(fonts/Coolvetica/coolvetica\ rg.otf);
}

@font-face {
    font-family: CrimsionPro;
    src: url(fonts/CrimsonPro/CrimsonPro-VariableFont_wght.ttf);
}

.ft-Crimson{
    font-family: CrimsonPro;
}

.ft-Coolvetica{
    font-family: Coolvetica;
}

.bg-green{
    background-color: #63A375;
}

.bg-brown{
    background-color: #DE8F6E;
}

.bg-black{
    background-color: #252627;
}

.bg-blue{
    background-color: #1A535C;
}

.p-6{
    padding-top: 6em;
    padding-left: 14em;
    padding-right: 14em;
}

.pt-6{
    padding-top: 6em;
}

.mt-6{
    margin-top: 6em;
}

/*Site-Wide*/

.flex-wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

html,body,.container-fluid{
    height: 100%;
    background-color: #DE8F6E;
    position: relative;
}

h1{
    font-size: 4em;
    font-family: Coolvetica;
}

h3{
    font-size: xx-large;
    font-family: monospace;

}

p{
    overflow-wrap: normal;
    font-family: monospace;
    font-size: x-large;
}

.btn:active{
    outline: none;
    border: none;
}

    .btn-sm{
        background-color: #63A375;
        color: #252627;
    }

.text-dark{
    font-family: Coolvetica !important;
}


.fab{
    color: #252627;
    font-size: 1.5em !important;
}

.gr_hl:hover{
    color: #63A375 !important;
    text-decoration: none !important;
}



/*Work*/
.samples-text{
    font-size: medium;
}

.work-img{
    width: 90%;
}

.bar{
    background-color: 
    white;height: 5px;
}
.work-table{
    margin-top: 1em;
    color: #252627;
}
    .work-table:hover{
        color: #63A375;
    }

/*Navigation Menu*/

nav{
    background: rgba(255, 255, 255,0.8);
}

    nav a{
        font-family: Coolvetica;
        font-size: x-large !important;
    }
    #navicon{
        display: none;
    }
    .navbar-brand{
        font-size: x-large;
    }
    .nav-link{
        color: #252627;
        font-family: Coolvetica;
        font-size: large;
    }
    
        .nav-link:hover{
            color: #63A375;
        }

/*Responsive Design*/
@media only screen and (max-width: 991px){
    #sea-portrait{
        visibility: hidden;
    }
    .p-6{
        padding-top: 6em;
        padding-left: 8em;
        padding-right: 8em;
    }
    body{
        overflow: visible;
    }
    #napoleon{
        position: fixed;
    }

    #navicon{
        display: block;
        margin-right: 2em;
    }
    nav li{
        display: none;
    }

}

@media only screen and (max-width: 750px){

    .p-6{
        padding-top: 6em;
        padding-left: 4em;
        padding-right: 4em;
    }
    footer{
        position:relative !important;
    }
    .main-col{
        text-align: center !important;
    }
    h1{
        font-size: 1.5em;
    }


    #about-me{
        margin-top: 2em;
        text-align: left !important;
    }



}